body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e58f00;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.category {
    background-color: #333;
    color: white;
    padding: 15px;
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}

.menuItem {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menuItem:hover {
    background-color: #f0f0f0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#navigateButton {
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  text-align: center; /* Center the text */
}

#navigateButton:hover {
  background-color: #555;
}

